In [1]:
import findspark 
findspark.init()
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("COVID-19 Data Analysis").getOrCreate()

if 'spark' in locals() and isinstance(spark, SparkSession):
    print("SparkSession is active and ready to use.")
else:
    print("SparkSession is not active. Please create a SparkSession.")

SparkSession is active and ready to use.

In [2]:
import pandas as pd
vac = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/KpHDlIzdtR63BdTofl1mOg/owid-covid-latest.csv')
vac.sample(7)

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
47,COG,Africa,Congo,2024-08-04,25227.0,0.0,0.000,389.0,0.0,0.000,...,52.3,47.964,NaN,64.57,0.574,5.970430e+06,NaN,NaN,NaN,NaN
96,OWID_HIC,NaN,High-income countries,2024-08-14,429044049.0,32293.0,4613.286,2997359.0,786.0,112.286,...,NaN,NaN,NaN,NaN,NaN,1.250515e+09,NaN,NaN,NaN,NaN
15,AZE,Asia,Azerbaijan,2024-08-04,835757.0,63.0,9.000,10353.0,0.0,0.000,...,42.5,83.241,4.70,73.00,0.756,1.035808e+07,NaN,NaN,NaN,NaN
52,CUB,North America,Cuba,2024-08-04,1113662.0,0.0,0.000,8530.0,0.0,0.000,...,53.3,85.198,5.20,78.80,0.783,1.121220e+07,NaN,NaN,NaN,NaN
109,JAM,North America,Jamaica,2024-08-04,157181.0,12.0,1.714,3611.0,0.0,0.000,...,28.6,66.425,1.70,74.47,0.734,2.827382e+06,NaN,NaN,NaN,NaN
44,CHN,Asia,China,2024-08-04,99373219.0,2087.0,298.143,122304.0,15.0,2.143,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
201,SXM,North America,Sint Maarten (Dutch part),2024-08-04,11051.0,0.0,0.000,92.0,0.0,0.000,...,NaN,NaN,NaN,78.95,NaN,4.419200e+04,NaN,NaN,NaN,NaN

In [3]:
print(vac.shape)
print(vac[['continent', 'total_cases', 'total_deaths', 'total_vaccinations', 'population']].dtypes)
vac.loc[44:54,['continent', 'total_cases', 'total_deaths', 'total_vaccinations', 'population']]

(247, 67)
continent              object
total_cases           float64
total_deaths          float64
total_vaccinations    float64
population            float64
dtype: object

        continent  total_cases  total_deaths  total_vaccinations    population
44           Asia   99373219.0      122304.0                 NaN  1.425887e+09
45  South America    6391876.0      142727.0                 NaN  5.187403e+07
46         Africa       9109.0         160.0                 NaN  8.367830e+05
47         Africa      25227.0         389.0                 NaN  5.970430e+06
48        Oceania       7345.0           2.0                 NaN  1.703200e+04
49  North America    1234701.0        9372.0                 NaN  5.180836e+06
50         Africa      88434.0         835.0                 NaN  2.816055e+07
51         Europe    1317144.0       18752.0                 NaN  4.030361e+06
52  North America    1113662.0        8530.0                 NaN  1.121220e+07
53  North America      45883.0         305.0                 NaN  1.911730e+05
54         Europe     696410.0        1451.0                 NaN  8.960070e+05

In [4]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType, DateType

In [14]:
schema = StructType([
    StructField("location", StringType(), True),
    StructField("continent", StringType(), True),
    StructField("total_cases", LongType(), True),
    StructField("total_deaths", LongType(), True),
    StructField("total_vaccinations", LongType(), True),
    StructField("population", LongType(), True)
])

vac['location'] = vac['location'].astype(str)
vac['continent'] = vac['continent'].astype(str)
vac['total_cases'] = vac['total_cases'].fillna(0).astype('int64') 
vac['total_deaths'] = vac['total_deaths'].fillna(0).astype('int64')
vac['total_vaccinations'] = vac['total_vaccinations'].fillna(0).astype('int64')  
vac['population'] = vac['population'].fillna(0).astype('int64')  

vsp = spark.createDataFrame(vac[schema.fieldNames()])  
print(type(vsp))
# vsp.show(40)

<class 'pyspark.sql.dataframe.DataFrame'>

In [6]:
vsp.printSchema()

root
 |-- location: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- total_cases: long (nullable = true)
 |-- total_deaths: long (nullable = true)
 |-- total_vaccinations: long (nullable = true)
 |-- population: long (nullable = true)

In [7]:
vsp.select('location','total_cases','population').show()

+-------------------+-----------+----------+
|           location|total_cases|population|
+-------------------+-----------+----------+
|        Afghanistan|     235214|  41128772|
|             Africa|   13145380|1426736614|
|            Albania|     335047|   2842318|
|            Algeria|     272139|  44903228|
|     American Samoa|       8359|     44295|
|            Andorra|      48015|     79843|
|             Angola|     107481|  35588996|
|           Anguilla|       3904|     15877|
|Antigua and Barbuda|       9106|     93772|
|          Argentina|   10101218|  45510324|
|            Armenia|     452273|   2780472|
|              Aruba|      44224|    106459|
|               Asia|  301499099|4721383370|
|          Australia|   11861161|  26177410|
|            Austria|    6082444|   8939617|
|         Azerbaijan|     835757|  10358078|
|            Bahamas|      39127|    409989|
|            Bahrain|     696614|   1472237|
|         Bangladesh|    2051348| 171186368|
|           Barbados|     108582|    281646|
+-------------------+-----------+----------+
only showing top 20 rows

In [8]:
vsp.filter(vsp['population']>200000000).show()

+--------------------+-------------+-----------+------------+------------------+----------+
|            location|    continent|total_cases|total_deaths|total_vaccinations|population|
+--------------------+-------------+-----------+------------+------------------+----------+
|              Africa|          nan|   13145380|      259117|                 0|1426736614|
|                Asia|          nan|  301499099|     1637249|        9104304615|4721383370|
|              Brazil|South America|   37511921|      702116|                 0| 215313504|
|               China|         Asia|   99373219|      122304|                 0|1425887360|
|              Europe|          nan|  252916868|     2102483|        1399334208| 744807803|
| European Union (27)|          nan|  185822587|     1262988|         951113290| 450146793|
|High-income count...|          nan|  429044049|     2997359|        2840880020|1250514600|
|               India|         Asia|   45041748|      533623|        2206868000|1417173120|
|           Indonesia|         Asia|    6829399|      162059|                 0| 275501344|
|Low-income countries|          nan|    1944334|       43529|                 0| 737604900|
|Lower-middle-inco...|          nan|   91954400|     1188026|        4954377376|3432097300|
|             Nigeria|       Africa|     267188|        3155|                 0| 218541216|
|       North America|          nan|  124492666|     1671178|        1158547416| 600323657|
|            Pakistan|         Asia|    1580631|       30656|                 0| 235824864|
|       South America|          nan|   68809418|     1354187|                 0| 436816679|
|       United States|North America|  103436829|     1193165|                 0| 338289856|
|Upper-middle-inco...|          nan|  251753518|     2824452|        5449980941|2525921300|
|               World|          nan|  775866783|     7057132|       13578774356|7975105024|
+--------------------+-------------+-----------+------------+------------------+----------+

In [9]:
pvsp = vsp.withColumn('perc_deaths',vsp['total_deaths']/vsp['total_cases']*100)
pvsp.show()

+-------------------+-------------+-----------+------------+------------------+----------+-------------------+
|           location|    continent|total_cases|total_deaths|total_vaccinations|population|        perc_deaths|
+-------------------+-------------+-----------+------------+------------------+----------+-------------------+
|        Afghanistan|         Asia|     235214|        7998|                 0|  41128772|  3.400307804807537|
|             Africa|          nan|   13145380|      259117|                 0|1426736614| 1.9711640135165358|
|            Albania|       Europe|     335047|        3605|                 0|   2842318| 1.0759684462179933|
|            Algeria|       Africa|     272139|        6881|                 0|  44903228|   2.52848728039715|
|     American Samoa|      Oceania|       8359|          34|                 0|     44295|0.40674721856681423|
|            Andorra|       Europe|      48015|         159|                 0|     79843|  0.331146516713527|
|             Angola|       Africa|     107481|        1937|                 0|  35588996| 1.8021789897749372|
|           Anguilla|North America|       3904|          12|                 0|     15877| 0.3073770491803279|
|Antigua and Barbuda|North America|       9106|         146|                 0|     93772| 1.6033384581594552|
|          Argentina|South America|   10101218|      130663|                 0|  45510324| 1.2935370764198932|
|            Armenia|         Asia|     452273|        8777|                 0|   2780472| 1.9406420458439926|
|              Aruba|North America|      44224|         292|                 0|    106459|   0.66027496382055|
|               Asia|          nan|  301499099|     1637249|        9104304615|4721383370| 0.5430361170001374|
|          Australia|      Oceania|   11861161|       25236|                 0|  26177410| 0.2127616343796362|
|            Austria|       Europe|    6082444|       22534|                 0|   8939617| 0.3704760783658674|
|         Azerbaijan|         Asia|     835757|       10353|                 0|  10358078| 1.2387571985636974|
|            Bahamas|North America|      39127|         849|                 0|    409989| 2.1698571319038003|
|            Bahrain|         Asia|     696614|        1536|                 0|   1472237|0.22049513790994724|
|         Bangladesh|         Asia|    2051348|       29499|                 0| 171186368| 1.4380300173349427|
|           Barbados|North America|     108582|         593|                 0|    281646|  0.546131034609788|
+-------------------+-------------+-----------+------------+------------------+----------+-------------------+
only showing top 20 rows

In [11]:
pvsp.groupby('continent').agg({"total_deaths": "SUM"}).show()

+-------------+-----------------+
|    continent|sum(total_deaths)|
+-------------+-----------------+
|       Europe|          2102483|
|       Africa|           259117|
|          nan|         22430618|
|North America|          1671178|
|South America|          1354187|
|      Oceania|            32918|
|         Asia|          1637249|
+-------------+-----------------+

In [12]:
pvsp.createTempView('vakt')
spark.sql("SELECT * from vakt WHERE continent='Asia'").show()

+-----------+---------+-----------+------------+------------------+----------+--------------------+
|   location|continent|total_cases|total_deaths|total_vaccinations|population|         perc_deaths|
+-----------+---------+-----------+------------+------------------+----------+--------------------+
|Afghanistan|     Asia|     235214|        7998|                 0|  41128772|   3.400307804807537|
|    Armenia|     Asia|     452273|        8777|                 0|   2780472|  1.9406420458439926|
| Azerbaijan|     Asia|     835757|       10353|                 0|  10358078|  1.2387571985636974|
|    Bahrain|     Asia|     696614|        1536|                 0|   1472237| 0.22049513790994724|
| Bangladesh|     Asia|    2051348|       29499|                 0| 171186368|  1.4380300173349427|
|     Bhutan|     Asia|      62697|          21|                 0|    782457| 0.03349442557060146|
|     Brunei|     Asia|     347723|         179|                 0|    449002|0.051477756720147934|
|   Cambodia|     Asia|     139319|        3056|                 0|  16767851|   2.193527085322174|
|      China|     Asia|   99373219|      122304|                 0|1425887360| 0.12307541330627521|
| East Timor|     Asia|      23460|         138|                 0|   1341298|  0.5882352941176471|
|    Georgia|     Asia|    1863615|       17150|                 0|   3744385|  0.9202544516973731|
|  Hong Kong|     Asia|          0|           0|          21014839|   7488863|                NULL|
|      India|     Asia|   45041748|      533623|        2206868000|1417173120|   1.184729775585086|
|  Indonesia|     Asia|    6829399|      162059|                 0| 275501344|   2.372961368928657|
|       Iran|     Asia|    7627863|      146837|                 0|  88550568|  1.9250083542402374|
|       Iraq|     Asia|    2465545|       25375|                 0|  44496124|   1.029184216876999|
|     Israel|     Asia|    4841558|       12707|                 0|   9449000| 0.26245683724123514|
|      Japan|     Asia|   33803572|       74694|                 0| 123951696|  0.2209648140143296|
|     Jordan|     Asia|    1746997|       14122|                 0|  11285875|  0.8083585718807761|
| Kazakhstan|     Asia|    1504370|       19072|                 0|  19397998|  1.2677732206837413|
+-----------+---------+-----------+------------+------------------+----------+--------------------+
only showing top 20 rows

In [15]:
spark.stop()