In [1]:

import findspark 
findspark.init()
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("COVID-19 Data Analysis").getOrCreate()

if 'spark' in locals() and isinstance(spark, SparkSession):
    print("SparkSession is active and ready to use.")
else:
    print("SparkSession is not active. Please create a SparkSession.")

SparkSession is active and ready to use.

In [2]:
import pandas as pd
vac = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/KpHDlIzdtR63BdTofl1mOg/owid-covid-latest.csv')
vac.sample(7)

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
240,VEN,South America,Venezuela,2024-08-04,552695.0,0.0,0.000,5856.0,0.0,0.0,...,NaN,NaN,0.8,72.06,0.711,28301700.0,NaN,NaN,NaN,NaN
34,BFA,Africa,Burkina Faso,2024-08-04,22139.0,0.0,0.000,400.0,0.0,0.0,...,23.9,11.877,0.4,61.58,0.452,22673764.0,NaN,NaN,NaN,NaN
171,PAN,North America,Panama,2024-08-04,1044821.0,0.0,0.000,8748.0,0.0,0.0,...,9.9,NaN,2.3,78.51,0.815,4408582.0,NaN,NaN,NaN,NaN
59,DMA,North America,Dominica,2024-08-04,16047.0,0.0,0.000,74.0,0.0,0.0,...,NaN,NaN,3.8,75.00,0.742,72758.0,NaN,NaN,NaN,NaN
11,ABW,North America,Aruba,2024-08-04,44224.0,0.0,0.000,292.0,0.0,0.0,...,NaN,NaN,NaN,76.29,NaN,106459.0,NaN,NaN,NaN,NaN
124,LBY,Africa,Libya,2024-08-04,507269.0,0.0,0.000,6437.0,0.0,0.0,...,NaN,NaN,3.7,72.91,0.724,6812344.0,NaN,NaN,NaN,NaN
236,URY,South America,Uruguay,2024-08-04,1041346.0,15.0,2.143,7682.0,0.0,0.0,...,19.9,NaN,2.8,77.91,0.817,3422796.0,NaN,NaN,NaN,NaN

In [3]:
print(vac.shape)
print(vac[['continent', 'total_cases', 'total_deaths', 'total_vaccinations', 'population']].dtypes)
vac.loc[44:54,['continent', 'total_cases', 'total_deaths', 'total_vaccinations', 'population']]

(247, 67)
continent              object
total_cases           float64
total_deaths          float64
total_vaccinations    float64
population            float64
dtype: object

        continent  total_cases  total_deaths  total_vaccinations    population
44           Asia   99373219.0      122304.0                 NaN  1.425887e+09
45  South America    6391876.0      142727.0                 NaN  5.187403e+07
46         Africa       9109.0         160.0                 NaN  8.367830e+05
47         Africa      25227.0         389.0                 NaN  5.970430e+06
48        Oceania       7345.0           2.0                 NaN  1.703200e+04
49  North America    1234701.0        9372.0                 NaN  5.180836e+06
50         Africa      88434.0         835.0                 NaN  2.816055e+07
51         Europe    1317144.0       18752.0                 NaN  4.030361e+06
52  North America    1113662.0        8530.0                 NaN  1.121220e+07
53  North America      45883.0         305.0                 NaN  1.911730e+05
54         Europe     696410.0        1451.0                 NaN  8.960070e+05

In [4]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType, DateType

In [5]:
schema = StructType([
    StructField("location", StringType(), True),
    StructField("continent", StringType(), True),
    StructField("total_cases", LongType(), True),
    StructField("total_deaths", LongType(), True),
    StructField("total_vaccinations", LongType(), True),
    StructField("population", LongType(), True)
])

vac['location'] = vac['location'].astype(str)
vac['continent'] = vac['continent'].astype(str)
vac['total_cases'] = vac['total_cases'].fillna(0).astype('int64') 
vac['total_deaths'] = vac['total_deaths'].fillna(0).astype('int64')
vac['total_vaccinations'] = vac['total_vaccinations'].fillna(0).astype('int64')  
vac['population'] = vac['population'].fillna(0).astype('int64')  

vsp = spark.createDataFrame(vac[schema.fieldNames()])  
print(type(vsp))
# vsp.show(40)

<class 'pyspark.sql.dataframe.DataFrame'>

In [6]:
vsp.printSchema()

root
 |-- location: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- total_cases: long (nullable = true)
 |-- total_deaths: long (nullable = true)
 |-- total_vaccinations: long (nullable = true)
 |-- population: long (nullable = true)

In [7]:
vsp.select('location','total_cases','population').show()

+-------------------+-----------+----------+
|           location|total_cases|population|
+-------------------+-----------+----------+
|        Afghanistan|     235214|  41128772|
|             Africa|   13145380|1426736614|
|            Albania|     335047|   2842318|
|            Algeria|     272139|  44903228|
|     American Samoa|       8359|     44295|
|            Andorra|      48015|     79843|
|             Angola|     107481|  35588996|
|           Anguilla|       3904|     15877|
|Antigua and Barbuda|       9106|     93772|
|          Argentina|   10101218|  45510324|
|            Armenia|     452273|   2780472|
|              Aruba|      44224|    106459|
|               Asia|  301499099|4721383370|
|          Australia|   11861161|  26177410|
|            Austria|    6082444|   8939617|
|         Azerbaijan|     835757|  10358078|
|            Bahamas|      39127|    409989|
|            Bahrain|     696614|   1472237|
|         Bangladesh|    2051348| 171186368|
|           Barbados|     108582|    281646|
+-------------------+-----------+----------+
only showing top 20 rows

In [8]:
vsp.filter(vsp['population']>200000000).show()

+--------------------+-------------+-----------+------------+------------------+----------+
|            location|    continent|total_cases|total_deaths|total_vaccinations|population|
+--------------------+-------------+-----------+------------+------------------+----------+
|              Africa|          nan|   13145380|      259117|                 0|1426736614|
|                Asia|          nan|  301499099|     1637249|        9104304615|4721383370|
|              Brazil|South America|   37511921|      702116|                 0| 215313504|
|               China|         Asia|   99373219|      122304|                 0|1425887360|
|              Europe|          nan|  252916868|     2102483|        1399334208| 744807803|
| European Union (27)|          nan|  185822587|     1262988|         951113290| 450146793|
|High-income count...|          nan|  429044049|     2997359|        2840880020|1250514600|
|               India|         Asia|   45041748|      533623|        2206868000|1417173120|
|           Indonesia|         Asia|    6829399|      162059|                 0| 275501344|
|Low-income countries|          nan|    1944334|       43529|                 0| 737604900|
|Lower-middle-inco...|          nan|   91954400|     1188026|        4954377376|3432097300|
|             Nigeria|       Africa|     267188|        3155|                 0| 218541216|
|       North America|          nan|  124492666|     1671178|        1158547416| 600323657|
|            Pakistan|         Asia|    1580631|       30656|                 0| 235824864|
|       South America|          nan|   68809418|     1354187|                 0| 436816679|
|       United States|North America|  103436829|     1193165|                 0| 338289856|
|Upper-middle-inco...|          nan|  251753518|     2824452|        5449980941|2525921300|
|               World|          nan|  775866783|     7057132|       13578774356|7975105024|
+--------------------+-------------+-----------+------------+------------------+----------+

In [9]:
pvsp = vsp.withColumn('perc_deaths',vsp['total_deaths']/vsp['total_cases']*100)
pvsp.show()

+-------------------+-------------+-----------+------------+------------------+----------+-------------------+
|           location|    continent|total_cases|total_deaths|total_vaccinations|population|        perc_deaths|
+-------------------+-------------+-----------+------------+------------------+----------+-------------------+
|        Afghanistan|         Asia|     235214|        7998|                 0|  41128772|  3.400307804807537|
|             Africa|          nan|   13145380|      259117|                 0|1426736614| 1.9711640135165358|
|            Albania|       Europe|     335047|        3605|                 0|   2842318| 1.0759684462179933|
|            Algeria|       Africa|     272139|        6881|                 0|  44903228|   2.52848728039715|
|     American Samoa|      Oceania|       8359|          34|                 0|     44295|0.40674721856681423|
|            Andorra|       Europe|      48015|         159|                 0|     79843|  0.331146516713527|
|             Angola|       Africa|     107481|        1937|                 0|  35588996| 1.8021789897749372|
|           Anguilla|North America|       3904|          12|                 0|     15877| 0.3073770491803279|
|Antigua and Barbuda|North America|       9106|         146|                 0|     93772| 1.6033384581594552|
|          Argentina|South America|   10101218|      130663|                 0|  45510324| 1.2935370764198932|
|            Armenia|         Asia|     452273|        8777|                 0|   2780472| 1.9406420458439926|
|              Aruba|North America|      44224|         292|                 0|    106459|   0.66027496382055|
|               Asia|          nan|  301499099|     1637249|        9104304615|4721383370| 0.5430361170001374|
|          Australia|      Oceania|   11861161|       25236|                 0|  26177410| 0.2127616343796362|
|            Austria|       Europe|    6082444|       22534|                 0|   8939617| 0.3704760783658674|
|         Azerbaijan|         Asia|     835757|       10353|                 0|  10358078| 1.2387571985636974|
|            Bahamas|North America|      39127|         849|                 0|    409989| 2.1698571319038003|
|            Bahrain|         Asia|     696614|        1536|                 0|   1472237|0.22049513790994724|
|         Bangladesh|         Asia|    2051348|       29499|                 0| 171186368| 1.4380300173349427|
|           Barbados|North America|     108582|         593|                 0|    281646|  0.546131034609788|
+-------------------+-------------+-----------+------------+------------------+----------+-------------------+
only showing top 20 rows

In [10]:
pvsp.groupby('continent').agg({"total_deaths": "SUM"}).show()

+-------------+-----------------+
|    continent|sum(total_deaths)|
+-------------+-----------------+
|       Europe|          2102483|
|       Africa|           259117|
|          nan|         22430618|
|North America|          1671178|
|South America|          1354187|
|      Oceania|            32918|
|         Asia|          1637249|
+-------------+-----------------+

In [11]:
pvsp.createTempView('vakt')
spark.sql("SELECT * from vakt WHERE continent='Asia'").show()

+-----------+---------+-----------+------------+------------------+----------+--------------------+
|   location|continent|total_cases|total_deaths|total_vaccinations|population|         perc_deaths|
+-----------+---------+-----------+------------+------------------+----------+--------------------+
|Afghanistan|     Asia|     235214|        7998|                 0|  41128772|   3.400307804807537|
|    Armenia|     Asia|     452273|        8777|                 0|   2780472|  1.9406420458439926|
| Azerbaijan|     Asia|     835757|       10353|                 0|  10358078|  1.2387571985636974|
|    Bahrain|     Asia|     696614|        1536|                 0|   1472237| 0.22049513790994724|
| Bangladesh|     Asia|    2051348|       29499|                 0| 171186368|  1.4380300173349427|
|     Bhutan|     Asia|      62697|          21|                 0|    782457| 0.03349442557060146|
|     Brunei|     Asia|     347723|         179|                 0|    449002|0.051477756720147934|
|   Cambodia|     Asia|     139319|        3056|                 0|  16767851|   2.193527085322174|
|      China|     Asia|   99373219|      122304|                 0|1425887360| 0.12307541330627521|
| East Timor|     Asia|      23460|         138|                 0|   1341298|  0.5882352941176471|
|    Georgia|     Asia|    1863615|       17150|                 0|   3744385|  0.9202544516973731|
|  Hong Kong|     Asia|          0|           0|          21014839|   7488863|                NULL|
|      India|     Asia|   45041748|      533623|        2206868000|1417173120|   1.184729775585086|
|  Indonesia|     Asia|    6829399|      162059|                 0| 275501344|   2.372961368928657|
|       Iran|     Asia|    7627863|      146837|                 0|  88550568|  1.9250083542402374|
|       Iraq|     Asia|    2465545|       25375|                 0|  44496124|   1.029184216876999|
|     Israel|     Asia|    4841558|       12707|                 0|   9449000| 0.26245683724123514|
|      Japan|     Asia|   33803572|       74694|                 0| 123951696|  0.2209648140143296|
|     Jordan|     Asia|    1746997|       14122|                 0|  11285875|  0.8083585718807761|
| Kazakhstan|     Asia|    1504370|       19072|                 0|  19397998|  1.2677732206837413|
+-----------+---------+-----------+------------+------------------+----------+--------------------+
only showing top 20 rows

In [14]:
pvsp.sort('population').show(300)

+--------------------+-------------+-----------+------------+------------------+----------+--------------------+
|            location|    continent|total_cases|total_deaths|total_vaccinations|population|         perc_deaths|
+--------------------+-------------+-----------+------------+------------------+----------+--------------------+
|            Pitcairn|      Oceania|          4|           0|                 0|        47|                 0.0|
|             Vatican|       Europe|         26|           0|                 0|       808|                 0.0|
|             Tokelau|      Oceania|         80|           0|                 0|      1893|                 0.0|
|                Niue|      Oceania|       1074|           0|                 0|      1952|                 0.0|
|    Falkland Islands|South America|       1923|           0|                 0|      3801|                 0.0|
|          Montserrat|North America|       1403|           8|                 0|      4413|  0.5702066999287242|
|        Saint Helena|       Africa|       2166|           0|                 0|      5401|                 0.0|
|Saint Pierre and ...|North America|       3426|           2|                 0|      5885| 0.05837711617046118|
|    Saint Barthelemy|North America|       5507|           5|                 0|     10994| 0.09079353550027239|
|              Tuvalu|      Oceania|       2943|           1|                 0|     11335| 0.03397893306150187|
|   Wallis and Futuna|      Oceania|       3760|           9|                 0|     11596| 0.23936170212765956|
|               Nauru|      Oceania|       5393|           1|                 0|     12691|0.018542555164101613|
|            Anguilla|North America|       3904|          12|                 0|     15877|  0.3073770491803279|
|        Cook Islands|      Oceania|       7345|           2|                 0|     17032|0.027229407760381213|
|               Palau|      Oceania|       6372|          10|                 0|     18084| 0.15693659761456372|
|Bonaire Sint Eust...|North America|      11922|          41|                 0|     27052|  0.3439020298607616|
|British Virgin Is...|North America|       7557|          64|                 0|     31332|  0.8468969167659124|
|Saint Martin (Fre...|North America|      12324|          46|                 0|     31816|  0.3732554365465758|
|           Gibraltar|       Europe|      20550|         113|                 0|     32677|  0.5498783454987834|
|          San Marino|       Europe|      25292|         126|                 0|     33690|   0.498181243080816|
|              Monaco|       Europe|      17181|          67|                 0|     36491|  0.3899656597404109|
|       Liechtenstein|       Europe|      21588|          89|                 0|     39355|   0.412266073744673|
|    Marshall Islands|      Oceania|      16297|          17|                 0|     41593| 0.10431367736393202|
|Sint Maarten (Dut...|North America|      11051|          92|                 0|     44192|  0.8325038458058095|
|      American Samoa|      Oceania|       8359|          34|                 0|     44295| 0.40674721856681423|
|Turks and Caicos ...|North America|       6805|          40|                 0|     45726|  0.5878030859662012|
|Saint Kitts and N...|North America|       6607|          46|                 0|     47681|  0.6962312698652944|
|Northern Mariana ...|      Oceania|      14912|          41|                 0|     49574|  0.2749463519313305|
|       Faroe Islands|       Europe|      34658|          28|                 0|     53117| 0.08078942812626233|
|           Greenland|North America|      11971|          21|                 0|     56494|  0.1754239411912121|
|            Guernsey|       Europe|      35326|          67|                 0|     63329| 0.18966200532185926|
|             Bermuda|North America|      18860|         165|                 0|     64207|  0.8748674443266171|
|      Cayman Islands|North America|      31472|          37|                 0|     68722|  0.1175648195221149|
|            Dominica|North America|      16047|          74|                 0|     72758|  0.4611453854302985|
|             Andorra|       Europe|      48015|         159|                 0|     79843|   0.331146516713527|
|         Isle of Man|       Europe|      38008|         116|                 0|     84534|  0.3051989054935803|
| Antigua and Barbuda|North America|       9106|         146|                 0|     93772|  1.6033384581594552|
|United States Vir...|North America|      25389|         132|                 0|     99479|  0.5199101973295521|
|Saint Vincent and...|North America|       9674|         124|                 0|    103959|   1.281786231135001|
|               Aruba|North America|      44224|         292|                 0|    106459|    0.66027496382055|
|               Tonga|      Oceania|      16976|          12|                 0|    106867|  0.0706880301602262|
|          Seychelles|       Africa|      51886|         172|                 0|    107135|  0.3314959719384805|
|              Jersey|       Europe|      66391|         161|                 0|    110796| 0.24250274886656326|
|Micronesia (country)|      Oceania|      31765|          65|                 0|    114178|  0.2046277349283803|
|             Grenada|North America|      19693|         238|                 0|    125459|  1.2085512618696999|
|            Kiribati|      Oceania|       5085|          24|                 0|    131237|   0.471976401179941|
|                Guam|      Oceania|      52287|         419|                 0|    171783|  0.8013464149788667|
|         Saint Lucia|North America|      30282|         410|                 0|    179872|  1.3539396341060697|
|             Curacao|North America|      45883|         305|                 0|    191173|  0.6647342152867075|
|               Samoa|      Oceania|      17057|          31|                 0|    222390| 0.18174356569150496|
|Sao Tome and Prin...|       Africa|       6771|          80|                 0|    227393|  1.1815093782306896|
|            Barbados|North America|     108582|         593|                 0|    281646|   0.546131034609788|
|       New Caledonia|      Oceania|      80163|         314|                 0|    289959|  0.3917019073637464|
|       French Guiana|South America|      98041|         413|                 0|    304568| 0.42125233320753563|
|    French Polynesia|      Oceania|      79387|         650|                 0|    306292|  0.8187738546613424|
|             Mayotte|       Africa|      42027|         187|                 0|    326113| 0.44495205463154636|
|             Vanuatu|      Oceania|      12019|          14|                 0|    326744| 0.11648223645894001|
|          Martinique|North America|     230354|        1104|                 0|    367512|  0.4792623527266729|
|             Iceland|       Europe|     210374|         186|                 0|    372903| 0.08841396750549022|
|          Guadeloupe|North America|     203235|        1021|                 0|    395762|  0.5023740989494919|
|              Belize|North America|      71414|         688|                 0|    405285|    0.96339653289271|
|             Bahamas|North America|      39127|         849|                 0|    409989|  2.1698571319038003|
|              Brunei|         Asia|     347723|         179|                 0|    449002|0.051477756720147934|
|            Maldives|         Asia|     186694|         316|                 0|    523798| 0.16926092964958703|
|               Malta|       Europe|     122796|         922|                 0|    533293|  0.7508387895371185|
|          Cape Verde|       Africa|      64474|         417|                 0|    593162|  0.6467723423395477|
|            Suriname|South America|      82501|        1406|                 0|    618046|  1.7042217670088848|
|          Montenegro|       Europe|     251280|        2654|                 0|    627082|  1.0561922954473097|
|          Luxembourg|       Europe|     393542|        1000|                 0|    647601| 0.25410248461409457|
|     Solomon Islands|      Oceania|      25954|         199|                 0|    724272|  0.7667411574323804|
|              Bhutan|         Asia|      62697|          21|                 0|    782457| 0.03349442557060146|
|              Guyana|South America|      74443|        1302|                 0|    808727|  1.7489891594911544|
|             Comoros|       Africa|       9109|         160|                 0|    836783|  1.7565045559336918|
|              Cyprus|       Europe|     696410|        1451|                 0|    896007| 0.20835427406269294|
|                Fiji|      Oceania|      69047|         885|                 0|    929769|  1.2817356293539184|
|             Reunion|       Africa|     494595|         921|                 0|    974062| 0.18621296212052285|
|            Djibouti|       Africa|      15690|         189|                 0|   1120851|  1.2045889101338432|
|            Eswatini|       Africa|      75356|        1427|                 0|   1201680|  1.8936780083868572|
|           Mauritius|       Africa|     328167|        1073|                 0|   1299478|  0.3269676719475145|
|             Estonia|       Europe|     610471|        2998|           2171623|   1326064|  0.4910962191488211|
|          East Timor|         Asia|      23460|         138|                 0|   1341298|  0.5882352941176471|
|             Bahrain|         Asia|     696614|        1536|                 0|   1472237| 0.22049513790994724|
| Trinidad and Tobago|North America|     191496|        4390|                 0|   1531043|  2.2924760830513433|
|   Equatorial Guinea|       Africa|      17130|         183|                 0|   1674916|  1.0683012259194395|
|              Kosovo|       Europe|     274279|        3212|                 0|   1782115|  1.1710703334925385|
|              Latvia|       Europe|     977765|        7475|                 0|   1850654|  0.7644986269706934|
|     North Macedonia|       Europe|     350924|        9978|                 0|   2093606|   2.843350697017018|
|       Guinea-Bissau|       Africa|       9614|         177|                 0|   2105580|   1.841065113376326|
|            Slovenia|       Europe|    1356582|       10083|                 0|   2119843|  0.7432650588021955|
|             Lesotho|       Africa|      36138|         709|                 0|   2305826|   1.961923736786762|
|               Gabon|       Africa|      49051|         307|                 0|   2388997|  0.6258791869686653|
|             Namibia|       Africa|     172533|        4108|                 0|   2567024|   2.380993780899886|
|            Botswana|       Africa|     330696|        2801|                 0|   2630300|   0.847001475675545|
|               Qatar|         Asia|     514524|         690|                 0|   2695131|  0.1341045315670406|
|              Gambia|       Africa|      12627|         372|                 0|   2705995|  2.9460679496317415|
|           Lithuania|       Europe|    1369355|        9810|           4604865|   2750058|  0.7163956753361984|
|             Armenia|         Asia|     452273|        8777|                 0|   2780472|  1.9406420458439926|
|             Jamaica|North America|     157181|        3611|                 0|   2827382|   2.297351461054453|
|             Albania|       Europe|     335047|        3605|                 0|   2842318|  1.0759684462179933|
|Bosnia and Herzeg...|       Europe|     403666|       16392|                 0|   3233530|   4.060782924496984|
|         Puerto Rico|North America|    1252713|        5938|                 0|   3252412| 0.47401120607832764|
|             Moldova|       Europe|     637520|       12245|                 0|   3272993|  1.9207240557158989|
|            Mongolia|         Asia|    1011489|        2136|                 0|   3398373| 0.21117382393679018|
|             Uruguay|South America|    1041346|        7682|                 0|   3422796|  0.7376990932888781|
|             Eritrea|       Africa|      10189|         103|                 0|   3684041|  1.0108941014819903|
|             Georgia|         Asia|    1863615|       17150|                 0|   3744385|  0.9202544516973731|
|             Croatia|       Europe|    1317144|       18752|                 0|   4030361|   1.423686400272104|
|              Kuwait|         Asia|     667290|        2570|                 0|   4268886| 0.38513989419892397|
|              Panama|North America|    1044821|        8748|                 0|   4408582|  0.8372726045896857|
|                Oman|         Asia|     399449|        4628|                 0|   4576300|  1.1585959659430867|
|          Mauritania|       Africa|      63872|         997|                 0|   4736146|   1.560934368737475|
|             Ireland|       Europe|    1745088|        9744|                 0|   5023108|   0.558367257123996|
|          Costa Rica|North America|    1234701|        9372|                 0|   5180836|  0.7590501668015172|
|         New Zealand|      Oceania|    2639048|        4284|          13398398|   5185289| 0.16233126491067992|
|           Palestine|         Asia|     703228|        5708|                 0|   5250076|  0.8116855415313383|
|             Liberia|       Africa|       7930|         294|                 0|   5302690|  3.7074401008827236|
|              Norway|       Europe|    1512647|        5732|                 0|   5434324|   0.378938377559338|
|             Lebanon|         Asia|    1239904|       10947|                 0|   5489744|  0.8828909334916252|
|             Finland|       Europe|    1499712|       11466|                 0|   5540745|   0.764546792984253|
|Central African R...|       Africa|      15441|         113|                 0|   5579148|  0.7318178874425232|
|           Singapore|         Asia|    3006155|        2024|                 0|   5637022| 0.06732853096397225|
|            Slovakia|       Europe|    1878002|       21227|                 0|   5643455|  1.1302969858392056|
|             Denmark|       Europe|    3435679|        9693|                 0|   5882259|  0.2821276376518295|
|               Congo|       Africa|      25227|         389|                 0|   5970430|  1.5419986522376818|
|         El Salvador|North America|     201920|        4230|                 0|   6336393|   2.094889064976228|
|        Turkmenistan|         Asia|          0|           0|                 0|   6430777|                NULL|
|          Kyrgyzstan|         Asia|      88953|        1024|                 0|   6630621|  1.1511697188402863|
|            Paraguay|South America|     735759|       19880|                 0|   6780745|   2.701971705408972|
|            Bulgaria|       Europe|    1329988|       38700|                 0|   6781955|   2.909800689931037|
|               Libya|       Africa|     507269|        6437|                 0|   6812344|  1.2689519761704342|
|              Serbia|       Europe|    2583470|       18057|                 0|   6871547|  0.6989436687865545|
|           Nicaragua|North America|      16185|         245|                 0|   6948395|   1.513747296879827|
|           Hong Kong|         Asia|          0|           0|          21014839|   7488863|                NULL|
|                Laos|         Asia|     219060|         671|                 0|   7529477| 0.30630877385191274|
|        Sierra Leone|       Africa|       7979|         125|                 0|   8605723|  1.5666123574382753|
|         Switzerland|       Europe|    4457868|       14170|                 0|   8740471| 0.31786495248401253|
|                Togo|       Africa|      39530|         290|                 0|   8848700|  0.7336200354161396|
|             Austria|       Europe|    6082444|       22534|                 0|   8939617|  0.3704760783658674|
|United Arab Emirates|         Asia|    1067030|        2349|                 0|   9441138|  0.2201437635305474|
|              Israel|         Asia|    4841558|       12707|                 0|   9449000| 0.26245683724123514|
|             Belarus|       Europe|     994037|        7118|                 0|   9534956|  0.7160699249625517|
|          Tajikistan|         Asia|      17786|         125|                 0|   9952789|  0.7027999550208028|
|             Hungary|       Europe|    2230800|       49053|                 0|   9967304|  2.1988972565895644|
|    Papua New Guinea|      Oceania|      46864|         670|                 0|  10142625|  1.4296688289518606|
|            Portugal|       Europe|    5664109|       28809|                 0|  10270857|  0.5086236864438873|
|          Azerbaijan|         Asia|     835757|       10353|                 0|  10358078|  1.2387571985636974|
|              Greece|       Europe|    5673681|       39258|                 0|  10384972|  0.6919317458982978|
|            Honduras|North America|     472896|       11114|                 0|  10432858|    2.35019962105833|
|             Czechia|       Europe|    4761919|       43509|          19047108|  10493990|  0.9136862680780584|
|              Sweden|       Europe|    2755181|       27399|                 0|  10549349|  0.9944537219151846|
|         South Sudan|       Africa|      18823|         147|                 0|  10913172|  0.7809594644849386|
|                Cuba|North America|    1113662|        8530|                 0|  11212198|  0.7659415513863272|
|  Dominican Republic|North America|     661103|        4384|                 0|  11228821|  0.6631341863522022|
|              Jordan|         Asia|    1746997|       14122|                 0|  11285875|  0.8083585718807761|
|               Haiti|North America|      34456|         860|                 0|  11585003|   2.495936846993267|
|             Belgium|       Europe|    4872829|       34339|                 0|  11655923|  0.7047035715802874|
|             Bolivia|South America|    1212147|       22387|                 0|  12224114|  1.8468882074533863|
|             Tunisia|       Africa|    1153361|       29423|                 0|  12356116|   2.551065971538833|
|             Burundi|       Africa|      54569|          15|                 0|  12889583| 0.02748813428869871|
|               Benin|       Africa|      28036|         163|                 0|  13352864|  0.5813953488372093|
|              Rwanda|       Africa|     133264|        1468|                 0|  13776702|    1.10157281786529|
|              Guinea|       Africa|      38572|         468|                 0|  13859349|  1.2133153582909884|
|            Zimbabwe|       Africa|     266386|        5740|                 0|  16320539|   2.154767893207601|
|            Cambodia|         Asia|     139319|        3056|                 0|  16767851|   2.193527085322174|
|             Senegal|       Africa|      89485|        1971|                 0|  17316452|  2.2026037883444154|
|         Netherlands|       Europe|    8640008|       22986|                 0|  17564020|  0.2660414203320182|
|             Somalia|       Africa|      27334|        1361|                 0|  17597508|   4.979146850076828|
|                Chad|       Africa|       7702|         194|                 0|  17723312|  2.5188262788886004|
|           Guatemala|North America|    1250371|       20203|                 0|  17843914|   1.615760442300725|
|             Ecuador|South America|    1077445|       36050|                 0|  18001002|  3.3458784439112903|
|          Kazakhstan|         Asia|    1504370|       19072|                 0|  19397998|  1.2677732206837413|
|               Chile|South America|    5401126|       62730|                 0|  19603736|   1.161424488153026|
|             Romania|       Europe|    3541619|       68825|                 0|  19659270|   1.943320272451667|

### Regulisanje Nan(py)/Null(sql) vrednosti

In [28]:
spark.sql('SELECT * from vakt where perc_deaths is NULL').show()

+------------+---------+-----------+------------+------------------+----------+-----------+
|    location|continent|total_cases|total_deaths|total_vaccinations|population|perc_deaths|
+------------+---------+-----------+------------+------------------+----------+-----------+
|   Hong Kong|     Asia|          0|           0|          21014839|   7488863|       NULL|
| North Korea|     Asia|          0|           0|                 0|  26069416|       NULL|
|Turkmenistan|     Asia|          0|           0|                 0|   6430777|       NULL|
+------------+---------+-----------+------------+------------------+----------+-----------+

In [35]:
pvsp.fillna({'perc_deaths':0.0})
pvsp.createTempView('vax')
spark.sql('SELECT * from vax where perc_deaths is NULL').show()

+--------+---------+-----------+------------+------------------+----------+-----------+
|location|continent|total_cases|total_deaths|total_vaccinations|population|perc_deaths|
+--------+---------+-----------+------------+------------------+----------+-----------+
+--------+---------+-----------+------------+------------------+----------+-----------+

### malo interesantniji sql upiti

In [37]:
spark.sql("SELECT * from vax where location like 'North%'").show()

+--------------------+---------+-----------+------------+------------------+----------+------------------+
|            location|continent|total_cases|total_deaths|total_vaccinations|population|       perc_deaths|
+--------------------+---------+-----------+------------+------------------+----------+------------------+
|       North America|      nan|  124492666|     1671178|        1158547416| 600323657|  1.34239072364311|
|         North Korea|     Asia|          0|           0|                 0|  26069416|               0.0|
|     North Macedonia|   Europe|     350924|        9978|                 0|   2093606| 2.843350697017018|
|Northern Mariana ...|  Oceania|      14912|          41|                 0|     49574|0.2749463519313305|
+--------------------+---------+-----------+------------+------------------+----------+------------------+

In [39]:
spark.sql("SELECT continent,count(*) from vax group by continent ORDER BY 2 DESC").show()

+-------------+--------+
|    continent|count(1)|
+-------------+--------+
|       Africa|      57|
|       Europe|      51|
|         Asia|      48|
|North America|      41|
|      Oceania|      24|
|South America|      14|
|          nan|      12|
+-------------+--------+